.nav{
    display: flex;
    justify-content: space-between;
    padding: 7px 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0  20px 5px rgb(238, 238, 238);
}
.nav .nav-main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.nav .nav-main .nav-logo{
    border-radius: 50%;
}
.nav .nav-links a{
    text-decoration: none;
    color: black;
}

.nav .nav-links ul li {
    list-style-type: none;
    display: inline-block;
    padding: 3px 8px;
}


